
# (MA-4(7)) Remote Disconnect Verification

## Definition

The information system implements remote disconnect verification at the termination of nonlocal maintenance and diagnostic sessions.

## Additional Guidance

Remote disconnect verification ensures that remote connections from nonlocal maintenance sessions have been terminated and are no longer available for use.
