
# (CM-6(1)) Automated Central Management / Application / Verification

## Definition

The organization employs automated mechanisms to centrally manage, apply, and verify configuration settings for [Assignment: organization-defined information system components].

## Additional Guidance


