
# (SI-7(12)) Integrity Verification

## Definition

The organization requires that the integrity of [Assignment: organization-defined user-installed software] be verified prior to execution.

## Additional Guidance

Organizations verify the integrity of user-installed software prior to execution to reduce the likelihood of executing malicious code or code that contains errors from unauthorized modifications. Organizations consider the practicality of approaches to verifying software integrity including, for example, availability of checksums of adequate trustworthiness from software developers or vendors.
