
# (SI-6(3)) Report Verification Results

## Definition

The organization reports the results of security function verification to [Assignment: organization-defined personnel or roles].

## Additional Guidance

Organizational personnel with potential interest in security function verification results include, for example, senior information security officers, information system security managers, and information systems security officers.
