
# (SI-3(6)) Testing / Verification

## Definition

(a)The organization tests malicious code protection mechanisms [Assignment: organization-defined frequency] by introducing a known benign, non-spreading test case into the information system; and
(b)The organization verifies that both detection of the test case and associated incident reporting occur.

## Additional Guidance


